process {
    executor='lsf'
}

nextflow.enable.dsl=1

executor {
    queueSize=500
    perJobMemLimit=true
    exitReadTimeout='100000 sec'
    pollInterval = '5sec'
}

conda {
    cacheDir = "/nfs/production/irene/ma/users/nnolte/snRNA-mapping-rate/envs"
    createTimeout = "30 min"
}

params {
   
    downloadMethod = 'http'
    maxConcurrentDownloads = 10
    minMappingRate = 5
    minCbFreq = 10   

    'emptyDrops' {
        lower = 100
        nIters = 1000
        testAmbient = 'FALSE'
        filterEmpty = 'TRUE'
        filterFdr = '0.01'
        libType = 'ISR'
    }

    '10XV2' {
        alevinType = 'chromium'
        barcodeLength = 16
        umiLength = 10
        end = '5'
        libType = 'ISR'
        whitelist = '${baseDir}/whitelist/737K-august-2016.txt'
    }

    'DROPSEQ' {
        alevinType = 'dropseq'
        kbType = 'DROPSEQ'
        barcodeLength = 12
        umiLength = 8
        end = '3'
        libType = 'ISR'
        whitelist = 'None'
    }
    
    'seq-well' {
        alevinType = 'dropseq'
        barcodeLength = 12
        umiLength = 8
        end = '5'
        libType = 'ISR'
        whitelist = 'None'
    }

    '10XV3' {
        alevinType = 'chromiumV3'
        barcodeLength = 16
        umiLength = 12
        end = '5'
        libType = 'ISR'
        whitelist = '${baseDir}/whitelist/3M-february-2018.txt.gz'
    }
    
    '10x5prime' {
        alevinType = 'custom'
        barcodeLength = 16
        umiLength = 10
        end = '5'
        libType = 'ISF'
        whitelist = 'None'
    }

    salmon {
        index {
            kmerSize = 19
        }
    }

}
