profiles {

  foo {
    process.container = 'docker://combinelab/usefulaf:latest'
    singularity.enabled = true
    singularity.cacheDir = "/nfs/production/irene/ma/users/nnolte/"
    singularity.libraryDir = "/nfs/production/irene/ma/users/nnolte/"
  }
}



executor {
    queueSize=500
    perJobMemLimit=true
    exitReadTimeout='100000 sec'
    pollInterval = '5sec'
}

conda {
    cacheDir = "/nfs/production/irene/ma/users/nnolte/snRNA-mapping-rate/envs"
    createTimeout = "30 min"
}

params {
   
    protocol = 'DROPSEQ'

    fields {
        run = 'Comment[ENA_RUN]'
        layout = 'Comment[LIBRARY_LAYOUT]'
        techrep = 'Comment[technical replicate group]'
        cdna_uri = 'cdna_uri'
        cell_barcode_uri = 'cell_barcode_uri'
        umi_barcode_uri = 'umi_barcode_uri'
        cdna_read_offset = 'Comment[cDNA read offset]'
        cell_barcode_offset = 'Comment[cell barcode offset]'
        umi_barcode_offset = 'Comment[umi barcode offset]'
        cdna_read_size = 'Comment[cDNA read size]'
        cell_barcode_size = 'Comment[cell barcode size]'
        umi_barcode_size = 'Comment[umi barcode size]'
        end = 'end'
        cell_count = 'Comment[cell count]'
    }

    downloadMethod = 'http'
    maxConcurrentDownloads = 10
    minMappingRate = 5
    minCbFreq = 10    

    'emptyDrops' {
        lower = 100
        nIters = 1000
        testAmbient = 'FALSE'
        filterEmpty = 'TRUE'
        filterFdr = '0.01'
        libType = 'ISR'
    }

    '10XV2' {
        alevinType = 'chromium'
        barcodeLength = 16
        umiLength = 10
        end = '3'
        libType = 'ISR'
        whitelist = '${baseDir}/whitelist/737K-august-2016.txt'
    }

    'DROPSEQ' {
        alevinType = 'dropseq'
        kbType = 'DROPSEQ'
        barcodeLength = 12
        umiLength = 8
        end = '3'
        libType = 'ISR'
        whitelist = 'None'
    }
    
    'seq-well' {
        alevinType = 'dropseq'
        barcodeLength = 12
        umiLength = 8
        end = '5'
        libType = 'ISR'
        whitelist = 'None'
    }

    '10XV3' {
        alevinType = 'chromiumV3'
        barcodeLength = 16
        umiLength = 12
        end = '5'
        libType = 'ISR'
        whitelist = '${baseDir}/whitelist/3M-february-2018.txt.gz'
    }
    
    '10x5prime' {
        alevinType = 'custom'
        barcodeLength = 16
        umiLength = 10
        end = '5'
        libType = 'ISF'
        whitelist = 'None'
    }

    salmon {
        index {
            kmerSize = 19
        }
    }

}
